body{
    background-color: darkcyan;
    }
    
    .divuno {
        width: 350px;
        height: 890px;
        margin: 5px;
        margin-left: -1cm;
        transform: translateY(-5.5%) ;
        background-color:rgb(230, 230, 230);
        border: solid 3px rgb(2, 2, 2);
    }
    
    .perfil{
        width: 200px;
        height: 200px;
        margin-left: 75px;
        margin-top: 50px;
        border: solid 4px black;
        background-color: rgb(151, 151, 151);
    }
    
    .divdos{
        padding: 20px;
        width: 210px;
        height: 390px;
        font-size: 30px;
        margin-bottom: 40px;
        margin-left: 70px;
        background-color: rgb(191, 191, 191);
    }
    li{
        padding: 15px;
    }
    
    .atras{
        font-size: 25px;
        margin-left: 285px;
     transform: translateY(50%);
    }
    
    .p1{
        font-size: 35px;
        margin-left: 125px;
    }
    h1{
        color: white;
        color: #fff;
    background: #E27432;
background: -webkit-linear-gradient(left, #E27432, #992BCA);
background: -moz-linear-gradient(left, #E27432, #992BCA);
background: linear-gradient(to right, #E27432, #992BCA);
        height: 80px;
        width: 198vh;
        transform: translateX(-1%)
        translateY(-30%);
        text-align:center;
    }
    
    #div1{
     width: 163vh;
     height: 92vh;
     background-color: rgb(233, 223, 223);
     transform: translateX(22.3%)
     translateY(-100%)
    }

    #div33{
        display: flex;
              padding: 20px;
        width: 210px;
        height: 825px;
        font-size: 30px;
        margin-bottom: 0px;
        margin-left: 0.5px;
        background-color: rgb(191, 191, 191);
    }
    .divadentro{
      padding: 20px;
      background-color: darkgoldenrod;
      width: 170px;
      height: 450px;
      margin: 10px;
      text-align: center;
      line-height: 75px;
      font-size: 50px;
      color: #fff;
      background: #E27432;
  background: -webkit-linear-gradient(left, #E27432, #992BCA);
  background: -moz-linear-gradient(left, #E27432, #992BCA);
  background: linear-gradient(to right, #E27432, #992BCA);
    }

        #div34{
        padding: 20px;
        width: 133vh;
        height: 825px;
        font-size: 30px;
        transform: translateY(-100%);
        margin-left: 250px;
        background-color: rgb(204, 203, 203);
        }
    
    .navbar {
        overflow: hidden;
        background-color: #333; 
        margin-top: -0.5px;
      }
      
      .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      .subnav {
        float: left;
        overflow: hidden;
      }
      
      .subnav .subnavbtn {
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }
      
      .navbar a:hover, .subnav:hover .subnavbtn {
        background-color: red;
      }
      
      .subnav-content {
        display: none;
        position: absolute;
        left: 0;
        background-color: red;
        width: 100%;
        z-index: 1;
      }
      
      .subnav-content a {
        float: left;
        color: white;
        text-decoration: none;
      }
      
      .subnav-content a:hover {
        background-color: #eee;
        color: black;
      }
      
      .subnav:hover .subnav-content {
        display: block;
      }
    
      textarea{
          transform: translateY(10%);
      }
    